@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .base-font {
    @apply font-slab;
  }
}

body {
  background-image: url('../public/bg.svg');
  background-attachment: fixed;
}

.ripple-effect {
  position: absolute;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  width: 5px;
  height: 5px;
  pointer-events: none;
  z-index: 5;
  animation: ripple 1.5s linear infinite;
}

@keyframes ripple {
  0% {
    width: 0;
    height: 0;
    opacity: 0.3;
  }
  100% {
    width: 500px;
    height: 500px;
    opacity: 0;
  }
}
